<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shaggy Analytics</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <style>
    body { padding-top:50px; }
    td { width: 300px; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script type="text/javascript">  

    angular.module('sortApp', [])
    .controller('mainController', function($scope, $http) {
      $scope.sortType = 'downloads';
      $scope.sortReverse = false; 
      $scope.sortClaster = 0;

      $http.get('/shaggy/apk/shaggy-latest.apk?downloads').then(function(response) {
        $scope.data = response.data;
      });
    });      

  </script>
</head>
<body>
<div class="container" ng-app="sortApp" ng-controller="mainController">

<table class="table table-bordered table-striped">
  
  <thead>
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          Name
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'downloads'; sortReverse = !sortReverse">
          Downloads 
          <span ng-show="sortType == 'downloads' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'downloads' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="item in data | orderBy:sortType:sortReverse"  ng-show="!sortClaster">
      <td>{{ item.name }}</td>
      <td>{{ item.downloads }}</td>
    </tr>
  </tbody>
  
</table>

</div>
</body>
</html>