<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Train Way Analytics</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <style>
    body { padding-top:50px; }
    td { width: 300px; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script type="text/javascript">  

    angular.module('sortApp', [])
    .controller('mainController', function($scope, $http) {
      $scope.sortType = 'level';
      $scope.sortReverse = false; 
      $scope.sortClaster = 0;

      $http.get('?data=32').then(function(response) {
        $scope.data = response.data;
        $scope.data.forEach(function(item, i, arr) {
          item.time /= item.request;
          item.star /= item.request;
        });
      });
    });      

  </script>
</head>
<body>
<div class="container" ng-app="sortApp" ng-controller="mainController">

<div class="btn-group btn-group-justified">
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="sortClaster = 1">1 - 15</button>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="sortClaster = 2">16 - 30</button>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="sortClaster = 3">31 - 45</button>
</div>
  <div class="btn-group">
  <button type="button" class="btn btn-default" ng-click="sortClaster = 0">All</button>
</div>
</div>

<p style="line-height: 20px">&nbsp;</p>

<table class="table table-bordered table-striped">
  
  <thead>
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'level'; sortReverse = !sortReverse">
          Level
          <span ng-show="sortType == 'level' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'level' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'star'; sortReverse = !sortReverse">
        Stars 
          <span ng-show="sortType == 'star' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'star' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'time'; sortReverse = !sortReverse">
        Time
          <span ng-show="sortType == 'time' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'time' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'request'; sortReverse = !sortReverse">
        Requests 
          <span ng-show="sortType == 'request' && sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'request' && !sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="item in data | orderBy:sortType:sortReverse" ng-show="!sortClaster || (item.level/15 > sortClaster-1 && item.level/15 <= sortClaster)">
      <td>{{ item.level }}</td>
      <td>{{ item.star }}</td>
      <td>{{ item.time }}</td>
      <td>{{ item.request }}</td>
    </tr>
  </tbody>
  
</table>

</div>
</body>
</html>